<!doctype html>
<html lang="en" xmlns:object-fit="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:height="http://www.w3.org/1999/xhtml" xmlns:thvalue="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../static/css/waifuEstilos" rel="stylesheet">

    <title>Top Waifus</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a th:href="@{/}" class="navbar-brand" href="#"><img src="Img/logo.png" alt="" width="30" height="30">
            Top Waifus
        </a>
        <form th:action="@{/buscar}" class="d-flex">
            <input autofocus="autofocus" name="q" class="form-control me-2" type="search" placeholder="Buscar"
                   aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</nav>

<div class="container mt-4 vj-style height: 100%">
    <div class="row">
        <div class="card">
            <h1>Nueva Waifu</h1>
            <form method="post" th:action="@{/waifus/guardar}" th:object="${waifu}">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Descripcion</label>
                    <input type="text" th:field="*{descripcion}" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="urlImagen" class="form-label">Url de la imagen</label>
                    <input type="url" class="form-control" th:field="*{imagenUrl}" id="urlImagen" placeholder="Url de la imagen">
                </div>
                <div class="form-group mb-3">
                    <label for="estudio" class="form-label">Estudio de animacion</label>
                    <select class="form-control" th:field="*{estudio}" id="estudio" aria-label="Default select example">
                        <option th:each="estudio : ${estudio}" th:value="${estudio.id}" th:text="${estudio.nombre}"></option>>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="anime" class="form-label">Anime</label>
                    <select class="form-control" th:field="*{anime}" id="anime" aria-label="Default select example">
                        <option th:each="anime : ${anime}" th:value="${anime.id}" th:text="${anime.nombre}"></option>>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Subir</button>
            </form>
        </div>
    </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>